.main-content {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(/assets/images/header-bg.jpg);
    z-index: -1;
    opacity: 0.5;
  }

  .main-header {
    &__discreption {
      border: 4px solid white;
    }

    h1, h3 {
      font-family: cocogoose, sans-serif;
      text-transform: uppercase;
    }
  }
}