body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: $font-color1;
}

.red-color {
  color: $font-color2;
}

.dark-gray {
  color: $font-color4;
}

.underline {
  position: relative;
}
.underline::after {
  @include draw-line(40px, $font-color2);
  top: 100%;
  left: calc(50% - 20px);
  // transform: translate(-50%, -50%);
  margin-top: 10px
}
