@include media-md {
  .main-content .logo-section__image {
    border: 0;
    img {
      border: 1px solid #afafaf;
    }
  }
  .main-content .featured-speakers .speakers .speaker:nth-child(n+3){
    display: flex !important;
  }
}
@include media-lg {
  .main-content .main-header {
    padding: 3rem 20% !important;
  }
  .main-content .main-program {
    padding: 1.5rem 8% !important;
  }
}